<launch>
    <arg name="namespace_prefix" default="easy_handeye" />

    <arg name="camera_table" doc="" default="camera" />
    <arg name="camera_shelf" doc="" default="camera_shelf" />

    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" />
    <arg name="marker_id" doc="The ID of the ArUco marker used" />


	<node name="ar_track_alvar_table" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size" type="double" value="6" />
		<param name="max_new_marker_error" type="double" value="0.08" />
		<param name="max_track_error" type="double" value="0.2" />
		<param name="output_frame" type="string" value="$(arg camera_table)_link" />

		<remap from="camera_image" to="/$(arg camera_table)/color/image_raw" />
		<remap from="camera_info" to="/$(arg camera_table)/color/camera_info" />
	</node>

    <node name="ar_track_alvar_shelf" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size" type="double" value="6" />
		<param name="max_new_marker_error" type="double" value="0.08" />
		<param name="max_track_error" type="double" value="0.2" />
		<param name="output_frame" type="string" value="$(arg camera_shelf)_link" />

		<remap from="camera_image" to="/$(arg camera_shelf)/color/image_raw" />
		<remap from="camera_info" to="/$(arg camera_shelf)/color/camera_info" />
	</node>

    <!-- robot model -->
    <include file="$(find ur_description)/launch/ur3_upload.launch">
      <arg name="limited" value="false"/>
      <arg name="kinematics_config" value="$(find ur_description)/config/ur3_default.yaml"/>
    </include>
		
    <!-- start the robot -->
    <include file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
        <arg name="limited" value="false" />
        <arg name="sim" value="true"/>
    </include>

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/publish.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)_table" />
        <arg name="eye_on_hand" value="false" />

        <arg name="tracking_base_frame" value="$(arg camera_table)_link" />
        <arg name="robot_base_frame" value="base_link" />
    </include>

    <include file="$(find easy_handeye)/launch/publish.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)_shelf" />
        <arg name="eye_on_hand" value="false" />

        <arg name="tracking_base_frame" value="$(arg camera_shelf)_link" />
        <arg name="robot_base_frame" value="base_link" />
    </include>

</launch>
